<p id="notice"><%= notice %></p>

<h1><%= t("questions") + " " + @question.name %></h1>

<% case @question.question_type %>
  <% when "single_choice" %>
    <% @question.answers.each do |answer| %>
      <p>
        <%= radio_button_tag @question.id, answer.id %>
        <%= answer.name %>
      </p>
    <% end %>
  <% when "multiple_choice" %>
    <% @question.answers.each do |answer| %>
      <p>
        <%= check_box_tag @question.id, answer.id %>
        <%= answer.name %>
      </p>
    <% end %>
  <% when "long_answer" %>
    <%= text_area_tag @question.id %>
<% end %>
<%= link_to t("edit"), edit_question_path(@question) %> |
<%= link_to t("return"), questions_path %>
