<%= simple_form_for @questionnaire do |f| %>
  <% if questionnaire.errors.any? %>
    <% questionnaire.errors.full_messages.each do |message| %>
        <p class="text-danger"><%= message %> </p>
    <% end %>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div data-controller="nested-form">

    <%= f.simple_fields_for :questions do |question| %>
      <%= render "question_fields", f: question %>
    <% end %>

      <%= link_to_add_association 'add questions', f, :questions %>
  </div>


  <div class="actions">
       <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
