<div class="nested-fields box" data-controller="dynamic-select">
  <div class="form-group">
    <br> 
  </div>
    <%= f.input :question_type, placeholder: t("question"), class: "form-control" %>

  <div class="form-group">
    <%= f.input :name, placeholder: t("question"), class: "form-control" %>
    <small>
      <%= link_to t("delete"), "#", data: { action: "click->nested-form#remove_association" } %>
    </small>
  </div>

  <div data-controller="nested-form" data-dynamic-select-target="choice">

    <%= f.fields_for :answers do |answer| %>
      <%= render "answer_fields", f: answer %>
    <% end %>

          <%= link_to_add_association 'add answers', f, :answers %>

  </div>
</div>
