<li id="micropost-<%= micropost.id %>">
    <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
    <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
    <span class="content">
        <%= micropost.content %>
        <%= image_tag micropost.display_image if micropost.image.attached? %>
    </span>
    <span class="tags">
        <%= micropost.tag_list %>
    </span>
    <span class="timestamp">
        <%= t("post_ago", time: time_ago_in_words(micropost.created_at)) %>
        <% if current_user %>
        <%= button_to t("Delete"), micropost, data: { turbo_confirm: t("confirm") }, method: :delete %>
        <% end %>
    </span>
    <%= t("comment") %>
    <div id="comments">
        <%= render "comments/comment", comments: micropost.comments %>
    </div>
    <%= render "shared/comment_form" %>
</li>
