<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
      <%= javascript_importmap_tags %>
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Cover</h3>
          <nav class="nav nav-masthead justify-content-center">
            <%= link_to "Home", root_path, class: "nav-link active" %>
            <%= link_to "Statics Pages", static_pages_path, class: "nav-link" %>
            <%= link_to "Show", static_pages_show_path, class: "nav-link" %>
            <%= link_to "Create", static_pages_new_path, class: "nav-link" %>
            <%= link_to "Edit", static_pages_edit_path, class: "nav-link" %>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <%= yield %>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </footer>
    </div>

  </body>
  </html>
